.operations {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.13);

    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 80%;
        height: 80%;

        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        background: rgba(0, 0, 0, 0.87);
        border-radius: 1rem;
        padding: 2rem;
        max-width: 500px;
        border: 3px solid rgb(82, 130, 173);

        .operation {
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 1rem;

            &.selected {
                background: rgba(0, 167, 255, 0.38);
            }

            p {
                margin: 0.4rem;
            }
        }
    }
}