@import '../variables';

.operations-container {

    display: flex;
    flex-direction: column;
    max-height: 100%;

    .operations {
        overflow-y: scroll;
        flex-grow: 1;

        &::-webkit-scrollbar {
            display: none;
        }

        .operation {
            text-align: left;
            &.selected {
                color: $color-primary;
            }

            p {
                margin: 0.4rem;
            }

            h3 {
                font-size: 1.2rem;
            }

            .io-range {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    margin: 1rem;
                }    
                .vue-slider {
                    flex: 1 0 auto;
                    
                }
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            margin: 1rem 1rem 0rem 1rem;
        }
    }
}

.vue-slider-dot-tooltip {
    display: none !important;
}