
@import '../variables';

.image-selector {
    height: 100%;
    display: flex;
    flex-direction: column;

    .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        button, label {
            margin: 1rem 1rem 0rem 1rem;
            cursor: pointer;
        }
    }

    #fileUploadId {
        display: none;
    }
    
    .sample-image-container {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        div {
            width: 60%;
            margin: 1rem;
            img {
                max-width: 100%;
            }
        }
    }
}